<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starter.demo.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.starter.demo.domain.User">
    <!--@mbg.generated-->
    <!--@Table user-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
  </resultMap>
  <resultMap id="UserResultMap" type="com.starter.demo.domain.User" extends="BaseResultMap">


    <!--    <collection property="roleEnums" ofType="com.starter.demo.enums.RoleEnum">-->
    <!--      <result column="roleEnums" />-->
    <!--    </collection>-->
    <collection property="roleEnums" ofType="com.starter.demo.enums.RoleEnum"
      resultMap="com.starter.demo.mapper.RoleMapper.BaseResultMap"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`
  </sql>


  <select id="findByUsername" resultMap="UserResultMap">
    select
    <include refid="Base_Column_List"/>,
    r.role
    from user
    join user_has_role uhr on user.id = uhr.user_id
    join role r on uhr.role_id_role = r.id_role
    where 1=1
    <if test="username != null">
      and username=#{username,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>
